@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    scroll-behavior: smooth;
}


/* MENU */
nav{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("./asset/unsplash_Tac8FvqAnEwbackground.png");
    max-width: 100%;
    width: 100vw;
    height: 90px;
    position: fixed;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}


li, a, button {  
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px; 
    color: rgb(252, 248, 239);
    text-decoration: none;
}

.nav_links{
    list-style: none;
}
.nav_links ul li{
    display: inline-block;
    padding: 0px 20px;
}
.navlinks li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(87, 160, 97);
}
#navigationToggle {
    display: none;
 }

/* INTRO */
#home{
    width: 100%;
    max-width: 100%;
    height: 140vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),url("./asset/unsplash_Tac8FvqAnEwbackground.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#home{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(248, 248, 227);
}
#home .container {
    max-width: 1300px;
    margin: auto;
}
#home .container h1{ 
    padding-top: 40vh;
    font-size: 4rem;
}
#home .container p{ 
    font-size: 40px;
}
/* ABOUT*/
#about{
    background-color: rgb(223, 217, 199);
}
#about .judul h1{
    padding-top: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: rgb(167, 94, 21);
}
#about .container {
    max-width: 1300px;
    padding: 60px;
    padding-top: 60px;
    margin: auto;
    display: flex;
}

#about .container .photo img{
    width: 300px;
    height: 367px;
}
#about .container .aboutme{
    padding-top: 10vh;
    margin-left: 20px;
    display: inline-block;
    width: 40%;
}
#about .container .aboutme h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
}
#about .container .aboutme p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
/* table */
#about .container .table{
    margin:auto;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
table,
tr,
th,
td{
    border: 1px solid rgb(8, 7, 5);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
table{
    margin: 30px;
    margin: auto;
    margin-bottom: 100px;
}

/* PORTFOLIO */
#portfolio{
    background-color: rgb(218, 210, 187);
}

nav .far{
    display: none;
}
@media only screen and (max-width: 768px){
    .nav_links ul li{
        display: block;
    }
    .nav_links ul{
        position: absolute;
        background-color: rgba(47, 53, 30, 0.884);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
    }
    nav .far{
        display: block;
        color: aliceblue;
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
    }
    #home .container h1{
        font-size: 2rem;
    }
    #home .container p{
        font-size: 28px;
    }
    #about .container{
        align-items: center;
        display: block;
        width: auto;
    }
    #about .container .aboutme{
        padding-top: 5vh;
        display: inline-block;
        width: 100%;
    }

}